
#one {
    min-height: 100vh;
}

.contact_0001 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactInformation {
    display: flex;
    flex-direction: column;

}

.contactMeForm, .contactInformation {
    width: 40%;
    height: 100%;

}

.verticalDivider {
  width: 1px;
  height: 80%;
  background-color: #000;
}

.spotlight .content h2 {
    margin-bottom: -40px;
}

.field {
margin-bottom: 25px;
}

.livelink {
    width: 25%;
    text-decoration: none;
}

.sourcecode {
    width: 34%;
}

a.resumedownload {
    border-bottom: none;

}

.resume-icon-hover {
    display: none;
}

.resumedownload:hover .resume-icon {
    display: none;
}

.resumedownload:hover .resume-icon-hover {
    display: block;
}

.techLogoList {
    display: flex;
}

.techLogo {
    list-style: none;
}
.techLogo img {
    width: 50px;
    height: auto;
}

.projectSection:hover {
    background-color: #3d4a56b2;

}

.wrapper.alt.style2 .spotlight .image img,
.wrapper.alt.style2 .spotlight .content .techLogoList .techLogo img {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.wrapper.alt.style2 .spotlight:hover .image img,
.wrapper.alt.style2 .spotlight:hover .content .techLogoList .techLogo img {
  filter: grayscale(0%);

}

.projectSection .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image, .videotag {
    max-width: 40%;
}

.videotag {
  max-width: none;
  width: 100%;
  height: auto;
}


.videotag {
  filter: grayscale();
  transition: opacity 0.2s ease-in-out; /* add transition effect */
}

.projectSection:hover .videotag {
  filter: none;

}

.technologiesListLabel {
    list-style: none;
    padding-right: 30px;
}

.technologiesUL {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;

}

.technologiesList {
    list-style: none;
}

.technologiesListIcon {
    width: auto;
    height: 100px;
}


.frameworksUL {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
